<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyShedule.SheduleSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyShedule.Properties.Settings.EVMdocsConnectionString" connectionString="Data Source=DEMON-ПК\SQLEXPRESS;Initial Catalog=EVMdocs;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <MyShedule.SheduleSettings>
            <setting name="CountWeeksShedule" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CountDayEducationalWeek" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="CountDaysShedule" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="CountLessonsOfDay" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="CountEducationalWeekBySem" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="MaxCountLessonsOfWeekDay" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxCountLessonsOfWeekEnd" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FirstLessonsOfWeekDay" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="FirstLessonsOfWeekEnd" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LastLessonsOfWeekDay" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LastLessonsOfWeekEnd" serializeAs="String">
                <value>8</value>
            </setting>
        </MyShedule.SheduleSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
